{% extends 'base.html' %} {% load static %}{% block content %}
<div class="container-fluid mt-100 blog-img" style="background-image: url({% static 'images//bg-titlebar.jpg' %});">

</div>

<div class="container-fluid pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-12">
                <div class="grid-mid-post">
                    <div class="format-post">
                        <figure>
                            <a href="#">
                                <img width="480" height="380" src="{% static 'images//post1.jpg' %}" class="attachment-teba-small size-teba-small wp-post-image" alt=""></a>
                            <a class="cat-name" href="#">Tech</a>
                        </figure>
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="date">August 12, 2020</li>
                                <li>
                                    <div class="author">mona kamal</div>
                                </li>
                            </ul>
                            <h3 class="post-title">
                                <a href="#">Questions every business owner able to answer</a>
                            </h3>
                            <p>Vast numbers of employees now work remotely, and it’s too late to develop</p>
                            <a class="button btn-txt btn-txt-arrow dark" href="#">
                                <span class="button-text">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-12">
                <div class="grid-mid-post">
                    <div class="format-post">
                        <figure>
                            <a href="#">
                                <img width="480" height="380" src="{% static 'images//post2.jpg' %}" class="attachment-teba-small size-teba-small wp-post-image" alt=""></a>
                            <a class="cat-name" href="#">Business</a>
                        </figure>
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="date">August 12, 2020</li>
                                <li>
                                    <div class="author">mona kamal</div>
                                </li>
                            </ul>
                            <h3 class="post-title">
                                <a href="#"> Technology that allows profit to serve the community</a>
                            </h3>
                            <p>Vast numbers of employees now work remotely, and it’s too late to develop</p>
                            <a class="button btn-txt btn-txt-arrow dark" href="#">
                                <span class="button-text">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-12">
                <div class="grid-mid-post">
                    <div class="format-post">
                        <figure>
                            <a href="#">
                                <img width="480" height="380" src="{% static 'images//post3.jpg' %}" class="attachment-teba-small size-teba-small wp-post-image" alt=""></a>
                            <a class="cat-name" href="#">Digital</a>
                        </figure>
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="date">August 12, 2020</li>
                                <li>
                                    <div class="author">mona kamal</div>
                                </li>
                            </ul>
                            <h3 class="post-title">
                                <a href="#">Proactive Customer Experience in the Business</a>
                            </h3>
                            <p>Vast numbers of employees now work remotely, and it’s too late to develop</p>
                            <a class="button btn-txt btn-txt-arrow dark" href="#">
                                <span class="button-text">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-12">
                <div class="grid-mid-post">
                    <div class="format-post">
                        <figure>
                            <a href="#">
                                <img width="480" height="380" src="{% static 'images//post4.jpg' %}" class="attachment-teba-small size-teba-small wp-post-image" alt=""></a>
                            <a class="cat-name" href="#">News</a>
                        </figure>
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="date">August 12, 2020</li>
                                <li>
                                    <div class="author">mona kamal</div>
                                </li>
                            </ul>
                            <h3 class="post-title">
                                <a href="#">Tips to make your workforce a security front line</a>
                            </h3>
                            <p>Vast numbers of employees now work remotely, and it’s too late to develop</p>
                            <a class="button btn-txt btn-txt-arrow dark" href="#">
                                <span class="button-text">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-12">
                <div class="grid-mid-post">
                    <div class="format-post">
                        <figure>
                            <a href="#">
                                <img width="480" height="380" src="{% static 'images//post5.jpg' %}" class="attachment-teba-small size-teba-small wp-post-image" alt=""></a>
                            <a class="cat-name" href="#">Business</a>
                        </figure>
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="date">August 12, 2020</li>
                                <li>
                                    <div class="author">mona kamal</div>
                                </li>
                            </ul>
                            <h3 class="post-title">
                                <a href="#"> Technology that allows profit to serve the community</a>
                            </h3>
                            <p>Vast numbers of employees now work remotely, and it’s too late to develop</p>
                            <a class="button btn-txt btn-txt-arrow dark" href="#">
                                <span class="button-text">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-12">
                <div class="grid-mid-post">
                    <div class="format-post">
                        <figure>
                            <a href="#">
                                <img width="480" height="380" src="{% static 'images//post6.jpg' %}" class="attachment-teba-small size-teba-small wp-post-image" alt=""></a>
                            <a class="cat-name" href="#">Tech</a>
                        </figure>
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="date">August 12, 2020</li>
                                <li>
                                    <div class="author">mona kamal</div>
                                </li>
                            </ul>
                            <h3 class="post-title">
                                <a href="#">Unboxing The Phone: Is This The Future Of Phones?</a>
                            </h3>
                            <p>Vast numbers of employees now work remotely, and it’s too late to develop</p>
                            <a class="button btn-txt btn-txt-arrow dark" href="#">
                                <span class="button-text">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-12">
                <div class="grid-mid-post">
                    <div class="format-post">
                        <figure>
                            <a href="#">
                                <img width="480" height="380" src="{% static 'images//post7.jpg' %}" class="attachment-teba-small size-teba-small wp-post-image" alt=""></a>
                            <a class="cat-name" href="#">Events</a>
                        </figure>
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="date">August 12, 2020</li>
                                <li>
                                    <div class="author">mona kamal</div>
                                </li>
                            </ul>
                            <h3 class="post-title">
                                <a href="#">UX Design is one of the most rapidly developing technology</a>
                            </h3>
                            <p>Vast numbers of employees now work remotely, and it’s too late to develop</p>
                            <a class="button btn-txt btn-txt-arrow dark" href="#">
                                <span class="button-text">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-12">
                <div class="grid-mid-post">
                    <div class="format-post">
                        <figure>
                            <a href="#">
                                <img width="480" height="380" src="{% static 'images//post8.jpg' %}" class="attachment-teba-small size-teba-small wp-post-image" alt=""></a>
                            <a class="cat-name" href="#">News</a>
                        </figure>
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="date">August 12, 2020</li>
                                <li>
                                    <div class="author">mona kamal</div>
                                </li>
                            </ul>
                            <h3 class="post-title">
                                <a href="#"> Market Insights to Manage People Related Costs</a>
                            </h3>
                            <p>Vast numbers of employees now work remotely, and it’s too late to develop</p>
                            <a class="button btn-txt btn-txt-arrow dark" href="#">
                                <span class="button-text">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-12">
                <div class="grid-mid-post">
                    <div class="format-post">
                        <figure>
                            <a href="#">
                                <img width="480" height="380" src="{% static 'images//post9.jpg' %}" class="attachment-teba-small size-teba-small wp-post-image" alt=""></a>
                            <a class="cat-name" href="#">Tech</a>
                        </figure>
                        <div class="content-post">
                            <ul class="meta-post">
                                <li class="date">August 12, 2020</li>
                                <li>
                                    <div class="author">mona kamal</div>
                                </li>
                            </ul>
                            <h3 class="post-title">
                                <a href="#">Market Insights to Manage People Related Costs</a>
                            </h3>
                            <p>Vast numbers of employees now work remotely, and it’s too late to develop</p>
                            <a class="button btn-txt btn-txt-arrow dark" href="#">
                                <span class="button-text">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock content %}