{% extends 'base.html' %} {% load static %}{% block content %}

<section class="slider_sec">
    <div class="sld_item">
        <div class="container">
            <div class="sld_item_con">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="sld_item_info">
                            <h2>Creative Web &amp; Mobile App Development Company</h2>
                            <p>Make Your Website &amp; App Your Best Salesperson. 88% of people will visit your website before purchasing from you. Is your website leaving the right impression?</p>
                            <a href="#" class="btn btn-primary">Contact Us <img src="{% static 'images/right.png' %}"><span class="circle"></span></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sld_item_img">
                            <img src="{% static 'images/img.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services_sec" style="background-image: url({% static 'images/bg4.jpg' %});">
    <div class="container">
        <div class="heading_type1">
            <!--  <h4 class="sub_heading">Services</h4> -->
            <h3>Our Field of Expertise</h3>
            <p>The passage is attributed to an unknown typesetter in the 15th century</p>
        </div>

        <div class="services_items">
            <div class="row">
                <div class="col-md-3">
                    <div class="service_itm" style="height: 347.2px;">
                        <div class="bg-s3"></div>
                        <div class="bg-before"></div>
                        <div class="bg-after"></div>
                        <div class="service_itm_ic">
                            <!-- <img src="img/ic1.png"> -->

                            <img src="{% static 'images/1.png' %}">
                        </div>
                        <div class="service_itm_con">
                            <h5>Ecommerce &amp; CMS Development</h5>
                        </div>
                        <div class="service_itm_btn">
                            <a href="#" class="btn btn-secondary">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="service_itm" style="height: 347.2px;">
                        <div class="bg-s3"></div>
                        <div class="bg-before"></div>
                        <div class="bg-after"></div>
                        <div class="service_itm_ic">
                            <!-- <img src="img/ic1.png"> -->

                            <img src="{% static 'images/2.png' %}">
                        </div>
                        <div class="service_itm_con">
                            <h5>Digital Marketing</h5>
                        </div>
                        <div class="service_itm_btn">
                            <a href="#" class="btn btn-secondary">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="service_itm" style="height: 347.2px;">
                        <div class="bg-s3"></div>
                        <div class="bg-before"></div>
                        <div class="bg-after"></div>
                        <div class="service_itm_ic">
                            <!-- <img src="img/ic1.png"> -->

                            <img src="{% static 'images/3.png' %}">
                        </div>
                        <div class="service_itm_con">
                            <h5>Web development</h5>
                        </div>
                        <div class="service_itm_btn">
                            <a href="#" class="btn btn-secondary">Read More<i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="service_itm" style="height: 347.2px;">
                        <div class="bg-s3"></div>
                        <div class="bg-before"></div>
                        <div class="bg-after"></div>
                        <div class="service_itm_ic">
                            <!-- <img src="img/ic1.png"> -->

                            <img src="{% static 'images/4.png' %}">
                        </div>
                        <div class="service_itm_con">
                            <h5>Mobile App Development</h5>
                        </div>
                        <div class="service_itm_btn">
                            <a href="#" class="btn btn-secondary">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>
<section class="review_sec">
    <div class="container">
        <div class="heading_type1">
            <h3>Good Work is Always Appreciated!</h3>
        </div>
        <div class="review_sec_con">
            <div class="review_sec_con_img">
                <img src="{% static 'images/5.jpg' %}">
            </div>
        </div>
    </div>
</section>

<section class="home_ab">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home_ab_img">
                    <img src="{% static 'images/img2.png' %}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="home_ab_con">
                    <div class="heading_type1">
                        <h3>Helping Business &amp; Startups to Become a Brand</h3>
                    </div>
                    <div class="tabing_type1">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#design">Design</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#development">Development</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="design" class="tab-pane active">
                                <p>We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers, and growing overall sales. Give us a call.</p>
                                <ul class="list_items">
                                    <li>
                                        <span>We provide a revolutionary level of transparency into our campaigns - from backlink acquisition.</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-check"></i>
                                        <span>Want to test our process before ramping up the budget? We'll prove our model and you'll see revenue soar.</span>
                                    </li>
                                </ul>
                            </div>
                            <div id="development" class="tab-pane fade">
                                <p>We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers, and growing overall sales. Give us a call.</p>
                                <ul class="list_items">
                                    <li>
                                        <span>We provide a revolutionary level of transparency into our campaigns - from backlink acquisition.</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-check"></i>
                                        <span>Want to test our process before ramping up the budget? We'll prove our model and you'll see revenue soar.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Read More 
                                <img src="{% static 'images/right.png' %}"><span class="circle"></span></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="serve_area">
    <div class="heading_type1">
        <h3 class="color_grey">Helping Businesses in All ...</h3>
        <p>Successfully delivered digital products Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="serve_area_items owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transition: all 0.25s ease 0s; width: 4418px; transform: translate3d(-1189px, 0px, 0px);">
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo1.png' %}">
                            </div>
                            <h4>Social Networking</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo2.png' %}">
                            </div>
                            <h4>On Demand Solution</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo3.png' %}">
                            </div>
                            <h4>Event and Ticket</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo4.png' %}">
                            </div>
                            <h4>Health</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo5.png' %}">
                            </div>
                            <h4>Travel</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo6.png' %}">
                            </div>
                            <h4>Enterprice</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo7.png' %}">
                            </div>
                            <h4>Banking</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned active" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo8.png' %}">
                            </div>
                            <h4>Entertainment</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned active" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo9.png' %}">
                            </div>
                            <h4>Social Networking</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo10.png' %}">
                            </div>
                            <h4>On Demand Solution</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo1.png' %}">
                            </div>
                            <h4>Event and Ticket</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item active center" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo2.png' %}">
                            </div>
                            <h4>Health</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo3.png' %}">
                            </div>
                            <h4>Travel</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo4.png' %}">
                            </div>
                            <h4>Enterprice</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo5.png' %}">
                            </div>
                            <h4>Banking</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo6.png' %}">
                            </div>
                            <h4>Entertainment</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo7.png' %}">
                            </div>
                            <h4>Social Networking</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo8.png' %}">
                            </div>
                            <h4>On Demand Solution</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo9.png' %}">
                            </div>
                            <h4>Event and Ticket</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo10.png' %}">
                            </div>
                            <h4>Health</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo1.png' %}">
                            </div>
                            <h4>Travel</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo2.png' %}">
                            </div>
                            <h4>Enterprice</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo3.png' %}">
                            </div>
                            <h4>Banking</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo4.png' %}">
                            </div>
                            <h4>Entertainment</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo5.png' %}">
                            </div>
                            <h4>Social Networking</h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 159.911px; margin-right: 10px;">
                    <div class="item">
                        <div class="serve_area_info">
                            <div class="serve_area_icon">
                                <img src="{% static 'images/logo6.png' %}">
                            </div>
                            <h4>On Demand Solution</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-nav disabled">
            <button type="button" role="presentation" class="owl-prev">
        <span aria-label="Previous">‹</span>
    </button>
            <button type="button" role="presentation" class="owl-next">
        <span aria-label="Next">›</span>
    </button></div>
        <div class="owl-dots disabled"></div>
    </div>
</section>


<section class="solution_tech">
    <div class="row">
        <div class="col-md-4">
            <div class="solution_tech_con">
                <div class="solution_tech_item">
                    <div class="solution_tech_item_ic"><i class="far fa-user"></i></div>
                    <div class="solution_tech_item_con">
                        <h5>Wordpress</h5>
                        <p>WordPress is a free and open-source content management system written in PHP and paired with a MySQL or MariaDB database</p>
                    </div>
                </div>
                <div class="solution_tech_item">
                    <div class="solution_tech_item_ic"><i class="far fa-user"></i></div>
                    <div class="solution_tech_item_con">
                        <h5>ReactJS</h5>
                        <p>React is an open-source, front end, JavaScript library for building user interfaces or UI components.</p>
                    </div>
                </div>
                <div class="solution_tech_item">
                    <div class="solution_tech_item_ic"><i class="far fa-user"></i></div>
                    <div class="solution_tech_item_con">
                        <h5>Laravel</h5>
                        <p>Laravel is a free, open-source PHP web framework, created by Taylor Otwell and intended for the development of web applications ...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-8">


            <div class="solution_tech_info" style="background-image: url({% static 'images/banner.jpg' %});">
                <div class="solution_tect_info_in">
                    <div class="heading_type1">
                        <h3>WEB DEVELOPMENT SERVICES</h3>
                    </div>
                    <p>With more than 5+ years of experience, we provide web development services to start-ups to enterprise level company. Our trained, highly skilled web developers are specialize to latest web technology like PHP, ReactJS, AngularJS, NodeJS,
                        Magento, Wordpress, .Net and many others.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="portfolio_sec">
    <div class="heading_type1">
        <h3>Our Portfolio</h3>
    </div>
    <div class="owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-1499px, 0px, 0px); transition: all 0s ease 0s; width: 4998px;">
                <div class="owl-item cloned" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/10.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">The Notes Hub</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/11.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">Rabbani Unani</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/12.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">VSD Apparels</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/10.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">Mediherbz Pharma</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/11.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">The Notes Hub</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/12.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">Rabbani Unani</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/10.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">VSD Apparels</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/11.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">Mediherbz Pharma</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/12.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">The Notes Hub</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 479.733px; margin-right: 20px;">
                    <div class="item">
                        <div class="portfolio_sec_itm">
                            <img src="{% static 'images/10.jpg' %}">

                            <div class="portfolio_sec_con">
                                <h3><a href="#">Rabbani Unani</a></h3>
                                <!-- <span class="category">Marketing</span> -->
                            </div>
                            <div class="plus_icon">
                                <a href="#">
                                    <img src="{% static 'images/plus.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-nav disabled">
            <button type="button" role="presentation" class="owl-prev">
                  <span aria-label="Previous">‹</span></button>
            <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
        </div>
        <div class="owl-dots disabled"></div>
    </div>
</section>

<section class="testimonial_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="heading_type1">
                    <h3>What They Say About Our Company?</h3>
                </div>
            </div>
            <div class="col-md-8">
                <div class="testomonial_sld">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag">





                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-2613px, 0px, 0px); transition: all 0.25s ease 0s; width: 5227px;">
                                <div class="owl-item cloned" style="width: 653.325px;">
                                    <div class="item">
                                        <div class="testomonial_sld_item">
                                            <div class="test_user">

                                                <img src="{% static 'images/test1.jpg' %}">
                                            </div>
                                            <div class="ttext">
                                                "Espricto did their job perfectly." Most impressive about Espricto, we found that they are very professional and dedicated with their work and promises.
                                            </div>
                                            <div class="tinfo">
                                                <h6>Rajesh Mehla</h6>
                                                <span>CEO &amp; Founder, Server Management Company</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 653.325px;">
                                    <div class="item">
                                        <div class="testomonial_sld_item">
                                            <div class="test_user">

                                                <img src="{% static 'images/test2.jpg' %}">
                                            </div>
                                            <div class="ttext">
                                                "I’m getting my desired results." I am satisfied with their work and knowledge. The team is very talented and well known off all fields of Google Ads.
                                            </div>
                                            <div class="tinfo">
                                                <h6>Dharveesh Finoob A-v</h6>
                                                <span>CEO, Dial4Battery</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 653.325px;">
                                    <div class="item">
                                        <div class="testomonial_sld_item">
                                            <div class="test_user">

                                                <img src="{% static 'images/test3.jpg' %}">
                                            </div>
                                            <div class="ttext">
                                                A team with qualified members of Marketing. Happy with the work quality of ESPRITCO.
                                            </div>
                                            <div class="tinfo">
                                                <h6>Dr. Manish Nayak</h6>
                                                <span>CEO Jaipur Anti Ageing Clinic</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 653.325px;">
                                    <div class="item">
                                        <div class="testomonial_sld_item">
                                            <div class="test_user">

                                                <img src="{% static 'images/test4.jpg' %}">
                                            </div>
                                            <div class="ttext">
                                                I highly recommend "ESPRITCO" the Most innovative and talented team of developers and designers.
                                            </div>
                                            <div class="tinfo">
                                                <h6>Dr. N. C. Panwar</h6>
                                                <span>CEO &amp; Founder, Mediherbz Pharma</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 653.325px;">
                                    <div class="item">
                                        <div class="testomonial_sld_item">
                                            <div class="test_user">

                                                <img src="{% static 'images/test1.jpg' %}">
                                            </div>
                                            <div class="ttext">
                                                "Espricto did their job perfectly." Most impressive about Espricto, we found that they are very professional and dedicated with their work and promises.
                                            </div>
                                            <div class="tinfo">
                                                <h6>Rajesh Mehla</h6>
                                                <span>CEO &amp; Founder, Server Management Company</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 653.325px;">
                                    <div class="item">
                                        <div class="testomonial_sld_item">
                                            <div class="test_user">

                                                <img src="{% static 'images/test2.jpg' %}">
                                            </div>
                                            <div class="ttext">
                                                "I’m getting my desired results." I am satisfied with their work and knowledge. The team is very talented and well known off all fields of Google Ads.
                                            </div>
                                            <div class="tinfo">
                                                <h6>Dharveesh Finoob A-v</h6>
                                                <span>CEO, Dial4Battery</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 653.325px;">
                                    <div class="item">
                                        <div class="testomonial_sld_item">
                                            <div class="test_user">

                                                <img src="{% static 'images/test3.jpg' %}">
                                            </div>
                                            <div class="ttext">
                                                A team with qualified members of Marketing. Happy with the work quality of ESPRITCO.
                                            </div>
                                            <div class="tinfo">
                                                <h6>Dr. Manish Nayak</h6>
                                                <span>CEO Jaipur Anti Ageing Clinic</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 653.325px;">
                                    <div class="item">
                                        <div class="testomonial_sld_item">
                                            <div class="test_user">

                                                <img src="{% static 'images/test4.jpg' %}">
                                            </div>
                                            <div class="ttext">
                                                I highly recommend "ESPRITCO" the Most innovative and talented team of developers and designers.
                                            </div>
                                            <div class="tinfo">
                                                <h6>Dr. N. C. Panwar</h6>
                                                <span>CEO &amp; Founder, Mediherbz Pharma</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="news_sec" style="background-image: url({% static 'images/bg2.jpg' %});">
    <div class="container">
        <div class="heading_type1">
            <h3>Our latest articles and news for our clients</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-blog-post">
                    <div class="post-image">
                        <img src="{% static 'images/data1.jpg' %}">
                    </div>
                    <div class="post-content">
                        <div class="post-meta">
                            <ul>
                                <li>By: RK</li>
                                <li>October 04, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="#">Best Services</a></h3>
                        <p>emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia the the consequuntur magni dolores eos ...</p>
                        <a href="#" class="btn btn-secondary read-more-btn">Read More <i>
                  <img src="{% static 'images/right.png' %}"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="single-blog-post">
                    <div class="post-image">
                        <img src="{% static 'images/data2.png' %}">
                    </div>
                    <div class="post-content">
                        <div class="post-meta">
                            <ul>
                                <li>By: RK</li>
                                <li>October 04, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="#">Laravel Best framework</a></h3>
                        <p>emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia the the consequuntur magni dolores eos ...</p>
                        <a href="#" class="btn btn-secondary read-more-btn">Read More <i><img src="{% static 'images/right.png' %}"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="single-blog-post">
                    <div class="post-image">
                        <img src="{% static 'images/data3.jpg' %}">
                    </div>
                    <div class="post-content">
                        <div class="post-meta">
                            <ul>
                                <li>By: RK</li>
                                <li>October 01, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="#">Digital Marketing</a></h3>
                        <p>emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia the the conseq</p>
                        <a href="#" class="btn btn-secondary read-more-btn">Read More <i><img src="{% static 'images/right.png' %}"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<section class="enquiry_sec">
    <div class="enquiry_sec_in">
        <div class="container">
            <div class="enquiry_sec_info">
                <div class="row">

                    <div class="col-md-6">
                        <div class="enquiry_sec_con">
                            <div class="heading_type2">
                                <h3>Working With Us?</h3>
                                <h5>Let’s Talk and get started</h5>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="icon_frm"><i class="fa fa-envelope"></i></span>
                                        <span class="conta_form_s">
                      <p>Mail Us at</p>
                      <h5>ravi@espritco.com</h5>
                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon_frm"><i class="fa fa-phone-square"></i></span>
                                        <span class="conta_form_s">
                      <p>Contact Number</p>
                      <h5>+91 8094661308 </h5>
                    </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="enquiry_sec_form">
                            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal" role="form" id="postenquiry" enctype="multipart/form-data">
                                <input name="_token" type="hidden" value="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" maxlength="255" required="required" placeholder="Name*" name="name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" maxlength="255" required="required" placeholder="Email Address*" name="email" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" maxlength="15" required="required" placeholder="Phone*" name="mobile" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" name="interested"><option value="" selected="selected">Please Select</option>
                            <option value="Website Development">Website Development</option>
                            <option value="Mobile App Development">Mobile App Development</option>
                            <option value="Ecommerce Development">Ecommerce Development</option>
                            <option value="Digital Marketing">Digital Marketing</option>
                            <option value="Other">Other</option></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" name="budget">
                            <option value="" selected="selected">Project Budget in USD</option>
                            <option value="Not Sure">Not Sure</option>
                            <option value="5000-10,000">5000-10,000</option>
                            <option value="10,000-20,000">10,000-20,000</option>
                            <option value="20,000-30,000">20,000-30,000</option>
                            <option value="30,000-50,000">30,000-50,000</option>
                            <option value="Above 50,000">Above 50,000</option></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" maxlength="15" required="required" placeholder="Skype ID/Whatsapp No." name="skype_whatsapp" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" maxlength="400" required="required" placeholder="Message" name="comments" cols="50" rows="10"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <button type="button" class="btn btn-primary" id="send_inquery">Send Inquiry <span class="circle"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="review_logoes">
    <p><span><i class="fa fa-star"></i> 
    <i class="fa fa-star"></i> 
    <i class="fa fa-star"></i> 
    <i class="fa fa-star"></i> 
    <i class="fa fa-star"></i></span>4.9 / 5.0 by 100+ customers for 500+ Web and Mobile App development projects.</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 col-sm-3">
                <div class="review_logoes_s">
                    <img src="{% static 'images/client1.png' %}">
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="review_logoes_s">
                    <img src="{% static 'images/client2.png' %}">
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="review_logoes_s">
                    <img src="{% static 'images/client3.png' %}">
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="review_logoes_s">
                    <img src="{% static 'images/client4.png' %}">
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="review_logoes_s">
                    <img src="{% static 'images/client5.png' %}">
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="review_logoes_s">
                    <img src="{% static 'images/client6.png' %}">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}